.main-flex-containerWithSidebar{
  display: flex;
  margin-left: 15%;
  transition: margin-left 500ms ease-in;
}

.main-flex-containerWithoutSidebar{
  display: flex;
  margin-left: 0%;
  transition: margin-left 500ms ease-out;
}

.dashbar{
  flex: 1;
  border: 2px solid red;
  height: 100vh;
}


.sidebar{
  position: absolute;
  left: -15%;
  width: 15%;
  height: 100vh;
  background-color: #C4FAC0;
  align-items: center;
  transition-property: left;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}


.sidebarActive{
  position: absolute;
  left: 0%;
  width: 15%;
  height: 100vh;
  background-color: #C4FAC0;
  align-items: center;
  transition-property: left;
  transition-duration: 500ms;
  transition-timing-function: ease-in;
}

.img-thumbnail{
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  background-color: transparent;
  border: none;
}

.btnDashboard{
  width: 100%;
  text-align: justify;
  text-indent: 3%;
  font-weight: bold;
  font-size: 13pt;
  background-color: transparent;
  border: none;
  padding: 5px;
  margin-bottom: 5%;
}
