<div class="container-fluid" style="background-color: #E0DDDD; height: 100vh; padding: 1%;">
  <div class="row">
      <div class="col-6">
          <img class="img-fluid" src=".\assets\spectrum logo.png" alt="Spectrum-logo" width="20%">
          <img src=".\assets\White-Volkswagen-Car-PNG-Free-File-Download.png" alt="" class="img-fluid">
      </div>
      <div class="col-6">
          <form  novalidate>
              <div class="row">
                  <div class="col-8">
                      <p style="font-weight: bold;">Welcome to <span style="color: #779341">SPECTRUM CAR</span></p>
                  </div>
                  <div class="col-4">
                      <div class="" style="font-size: 10pt; color: grey;">Have an account ?</div>
                      <a routerLink="Sign-up" style="text-decoration: none; font-size: 10pt; color: #779341; font-weight: bold;">Sign Up</a>
                  </div>

                  <div class="row">
                      <p style="margin-top: 10%; font-size: 3em; font-weight: bold;">Log in</p>
                  </div>

              </div>
              <div class="form-group mb-2">
                  <label for="email">Enter your e-mail address</label>
                  <input type="text" class="form-control" name="email" [(ngModel)]="email" #Email="ngModel" required placeholder="E-mail">
                  <ul class="text-danger list-unstyled mt-1" *ngIf="Email.dirty && Email.invalid">
                      <li *ngIf="Email.errors?.['required']">You must enter an email</li>
                  </ul>
              </div>
              <div class="form-group mb-2">
                  <label for="password">Enter your password</label>
                  <input type="password" class="form-control" name="password" [(ngModel)]="password" #Password="ngModel" required placeholder="Password">
                  <ul class="text-danger list-unstyled mt-1" *ngIf="Password.dirty && Password.invalid">
                      <li *ngIf="Password.errors?.['required']">You must enter a password</li>
                  </ul>
              </div>
              <p class="text-end"><a routerLink="forgot-password" style="color:blue; font-weight: bold; text-decoration: none;">Forgotten Password?</a></p>
              <p class="text-danger"><b>{{errorMessage}}</b></p>
                <button type="submit" class="submitButton" (click)="login()">Log in</button>
          </form>
      </div>
  </div>
</div>

<!-- <form action="">
  <div class="row">
      <div class="col-8">
          <p style="font-weight: bold;">Welcome to <span style="color: #779341">SPECTRUM CAR</span></p>
      </div>
      <div class="col-4">
          <div class="" style="font-size: 10pt; color: grey;">Have an account ?</div>
          <a href="Sign-up" style="text-decoration: none; font-size: 10pt; color: #779341; font-weight: bold;">Sign Up</a>
      </div>
  </div>
  <div class="row">
      <p style="margin-top: 10%; font-size: 3em; font-weight: bold;">Log in</p>
  </div>
  <div class="form-group">
      <input type="email" class="form-control">
      <input type="password" class="form-control">
  </div>
</form> -->
