 <!-- SIDEBAR START FROM HERE -->

 <div [ngClass]="sidebar ? 'sidebarActive' : 'sidebar'">
  <img src="./assets\spectrum logo.png" class="img-thumbnail" alt="Spectrum-logo">

 <a routerLink="./dashboard"><button class="btnOfSideMenu"><i class="fa-solid fa-chart-pie"></i> &nbsp; &nbsp; Dashboard</button></a>
  <a routerLink="./booking-request"><button class="btnOfSideMenu"><i class="fa-solid fa-circle-info"></i> &nbsp; &nbsp; Car Booking Request</button></a>

  <!-- COLLAPSE BUTTON OF (SECURITY) START FROM HERE -->

    <button class="btnOfSideMenu" type="button" data-bs-toggle="collapse" data-bs-target="#Security" aria-expanded="false" aria-controls="collapseExample">
      <i class="fa-solid fa-shield"></i> &nbsp; &nbsp; Security <i class="fa-sharp fa-solid fa-caret-down" style="float: right; padding: 5px;"></i>
    </button><br>
  <div class="collapse" id="Security">
    <div class="sidebarInnerButtonDiv">
      <a routerLink="/car-booking-request"><button class="btnOfSideMenu"><i class="fa-solid fa-users"></i> &nbsp; &nbsp; Add User</button></a>
      <button class="btnOfSideMenu"><i class="fa-solid fa-list"></i> &nbsp; &nbsp; User List</button>
    </div>
  </div>

  <!-- COLLAPSE BUTTON OF (SECURITY) END HERE -->



  <!-- COLLAPSE BUTTON OF (VEHICLES) START FROM HERE -->

  <button class="btnOfSideMenu" type="button" data-bs-toggle="collapse" data-bs-target="#Vehicles" aria-expanded="false" aria-controls="collapseExample">
    <i class="fa-solid fa-car-side"></i> &nbsp; &nbsp; Vehicles <i class="fa-sharp fa-solid fa-caret-down" style="float: right; padding: 5px;"></i>
  </button>
<div class="collapse" id="Vehicles">
  <div class="sidebarInnerButtonDiv">
    <button class="btnOfSideMenu"><i class="fa-solid fa-plus"></i> &nbsp; &nbsp; Add Vehicle</button>
    <button class="btnOfSideMenu"><i class="fa-solid fa-list"></i> &nbsp; &nbsp; Vehicle List</button>
  </div>
</div>

<!-- COLLAPSE BUTTON OF (VEHICLES) END HERE -->

<!-- COLLAPSE BUTTON OF (DRIVERS) START FROM HERE -->

<button class="btnOfSideMenu" type="button" data-bs-toggle="collapse" data-bs-target="#Driver" aria-expanded="false" aria-controls="collapseExample">
  <i class="fa-solid fa-users"></i> &nbsp; &nbsp; Drivers <i class="fa-sharp fa-solid fa-caret-down" style="float: right; padding: 5px;"></i>
</button>
<div class="collapse" id="Driver">
<div class="sidebarInnerButtonDiv">
  <button class="btnOfSideMenu"><i class="fa-solid fa-plus"></i> &nbsp; &nbsp; Add Driver</button>
  <button class="btnOfSideMenu"><i class="fa-solid fa-list"></i> &nbsp; &nbsp; Driver List</button>
</div>
</div>

<!-- COLLAPSE BUTTON OF (VEHICLES) END HERE -->

</div>

<!-- SIDEBAR END HERE -->

<div [ngClass]="sidebar ? 'main-flex-containerWithSidebar' :'main-flex-containerWithoutSidebar'">
  <div class="dashbar">
    <button style="background-color: transparent; border: none;"
            (click)="sidebarShow()">
            <i class="fa-solid fa-bars fa-2x">
            </i></button>

    <div class="" style="padding: 10px;">
      <router-outlet></router-outlet>
    </div>
  </div>



  </div>


